.favoritos {
    background-color: #E3D8D8;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    color:black;
    text-align: center;
    height: auto;
} 

.favoritos img{
    margin-top: 10px;
    margin-bottom: 10px;
}

.favoritos p{
    font-size: large;
}

body{
    background-color: whitesmoke;
    overflow-y:auto;
    min-width: 315px;
    max-width: 430px;
    min-height: auto;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#header-image{
    height: 36px; /*ajusta o tamanho da direita*/
    width: 70px;
    float: right; /*coloca a imagem á direita do cabeçalho*/
    padding-top: 3px;
    padding-right: 40px;
    padding-bottom: 3px;
}

/*configura o header da página*/
header{
    background-color: #844646; /*cor do cabeçalho*/
    overflow: hidden; /*faz com que o cabeçalho preencha todo o espaço*/
    height: 40px;
    border-bottom: 2px solid black;
}

#titulo-cabecalho {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 8px;
}

.search input[type=text]{
    width:150px;
    height:25px;
    border-radius:25px;
    border: none;
}
      
.search{
    margin-top: 10px;
    margin-left: 6px;
    /*border: 1px solid black;*/
}

.button{
    float: right;
    margin-right: 3%;
}
      
.search button{
    background-color: #a69b9b;
    color: #f2f2f2;
    padding: 4px 10px;
    margin-left: 2px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius:25px;
} 

/*footer*/

footer {
    background-color: #cdcdc1;
    padding-top: 5px;
    padding-bottom: 10px;
    border-top: 5px solid #844646;
}
footer h2, footer p, footer a, footer span{
    color: black;
}

footer h2{
    font-weight: 400;
}

footer a {
    text-decoration: none;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}

.footer-box{
    width: 31%;
    padding: 1%;
    float: left;
    margin-top: 10px;
    margin-right: 50px;
}

footer .wrapper::after{
    clear: both;
    content: "";
    display: block;
}

.company-flutter {
    width: 80%;
}


.company-flutter h2, .company-flutter p {
    margin-bottom: 20px;
}

.footer-list li{
    margin-bottom: 15px;
    margin-top: 4px;
}

.footer-list i{
    margin-top: 6px;
}

.footer-list a {
    transition: .5s;
}

.footer-list a:hover {
    color: #0074D9;
}

.footer-list li::after {
    clear: both;
    content: "";
    display: block;
}

.articles-footer {
    width: 80%;
}

.articles-footer p {
   margin-top: 20px;
}

.footer-list.footer-article-list span {
    display: block;
    float: none;
}

.fa-facebook-square, .fa-instagram {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}

.footer-list li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footer-bottom {
    border-top: 1px solid #b2b2b2;
}

.footer-bottom p {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}