@media screen and (max-width: 850px) and (min-width: 310px) and (max-height:1700px) and (min-height:630px){

    .favoritos {
    background-color: #E3D8D8;
    margin: 7%;
    padding: 5%;
    border: 1px solid black;
    border-radius: 20px;
    color:black;
    text-align: center;
} 

.favoritos img{
    margin-top: 10px;
    margin-bottom: 10px;
}

.favoritos p{
    font-size: large;
}

body{
    background-color: whitesmoke;
    overflow-y:auto;
   display:flex;
   flex-direction: column;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#header-image{
    height: 36px; /*ajusta o tamanho da direita*/
    width: 70px;
    float: right; /*coloca a imagem á direita do cabeçalho*/
    padding-top: 3px;
    padding-right: 40px;
    padding-bottom: 3px;
}

/*configura o header da página*/
header{
    background-color: #b85555; /*cor do cabeçalho*/
    overflow: hidden; /*faz com que o cabeçalho preencha todo o espaço*/
    height: 40px;
    border-bottom: 2px solid black;
}

#titulo-cabecalho {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 8px;
}

.search input[type=text]{
    width:150px;
    height:25px;
    border-radius:25px;
    border: none;
}
      
.search{
    margin-top: 10px;
    margin-left: 6px;
    /*border: 1px solid black;*/
}

.button{
    float: right;
    margin-right: 3%;
}
      
.search button{
    background-color: #a69b9b;
    color: #f2f2f2;
    padding: 4px 10px;
    margin-left: 2px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius:25px;
} 

/*footer*/

footer {
    background-color: #cdcdc1;
    padding-bottom: 10px;
    border-top: 5px solid #b85555;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer h2, footer p, footer a, footer span{
    color: black;
}

footer h2{
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

footer a {
    text-decoration: none;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}

.footer-box{
    width: 31%;
    padding: 1%;
    float: left;
    margin-top: 10px;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-box h2{
    font-size: 22px;
}

footer .wrapper::after{
    clear: both;
    content: "";
    display: block;
}

.company-flutter {
    width: 80%;
}

.company-flutter h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.footer-list i{
    margin-top: 12px;
}

.footer-list a {
    transition: .5s;
}

.footer-list a:hover {
    color: #0074D9;
}

.footer-list li::after {
    clear: both;
    content: "";
    display: block;
}

.footer-list.footer-article-list span {
    display: block;
    float: none;
}

.fa-facebook-square, .fa-instagram {
    font-size: 20px;
    margin-right: 10px;
    float: left;
}

.footer-list li span {
    float: left;
    height: 30px;
    margin-top: 6px;
    line-height: 30px;
}

.footer-bottom {
    border-top: 1px solid #b2b2b2;
}

.footer-bottom p {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

}
@media screen and (min-width:850px) and (min-height: 630px){

.favoritos {
    background-color: #E3D8D8;
    margin: 2%;
    padding: 2%;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px solid black;
    border-radius: 20px;
    color:black;
    text-align: center;
    
} 

.favoritos img{
    margin-top: 10px;
    margin-bottom: 10px;
}

.favoritos p{
    font-size: large;
}

body{
    background-color: whitesmoke;
    overflow-y:auto;
    height: 100%;
   display:flex;
   flex-direction: column;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#header-image{
    height: 36px; /*ajusta o tamanho da direita*/
    width: 70px;
    float: right; /*coloca a imagem á direita do cabeçalho*/
    padding-top: 3px;
    padding-right: 40px;
    padding-bottom: 3px;
}

/*configura o header da página*/
header{
    background-color: #b85555; /*cor do cabeçalho*/
    overflow: hidden; /*faz com que o cabeçalho preencha todo o espaço*/
    height: 40px;
    border-bottom: 2px solid black;
}

#titulo-cabecalho {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 8px;
}

.search input[type=text]{
    width:150px;
    height:25px;
    border-radius:25px;
    border: none;
}
      
.search{
    margin-top: 10px;
    margin-left: 6px;
    /*border: 1px solid black;*/
}

.button{
    float: right;
    margin-right: 3%;
}
      
.search button{
    background-color: #a69b9b;
    color: #f2f2f2;
    padding: 4px 10px;
    margin-left: 2px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius:25px;
} 

/*footer*/

footer {
    background-color: #cdcdc1;
    padding-bottom: 10px;
    border-top: 5px solid #b85555;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer h2, footer p, footer a, footer span{
    color: black;
}

footer h2{
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

footer a {
    text-decoration: none;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}

.footer-box{
    width: 31%;
    padding: 1%;
    float: left;
    
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-box h2{
    font-size: 22px;
}

footer .wrapper::after{
    clear: both;
    content: "";
    display: block;
}

.company-flutter {
    width: 80%;
}

.company-flutter h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.footer-list i{
    margin-top: 6px;
}

.footer-list a {
    transition: .5s;
}

.footer-list a:hover {
    color: #0074D9;
}

.footer-list li::after {
    clear: both;
    content: "";
    display: block;
}

.footer-list.footer-article-list span {
    display: block;
    float: none;
}

.fa-facebook-square, .fa-instagram {
    font-size: 20px;
    margin-right: 10px;
    float: left;
}

.footer-list li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footer-bottom {
    border-top: 1px solid #b2b2b2;
}

.footer-bottom p {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

}
