body{
    background-color: whitesmoke;
    overflow-y:auto;
    overflow-x: auto;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*configura o header da página*/
header{
    background-color: #844646; /*cor do cabeçalho*/
    overflow: hidden; /*faz com que o cabeçalho preencha todo o espaço*/
    height: 45px;
    border-bottom: 2px solid black;
}

#titulo-cabecalho {
    color: black;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin-left: 20px;
    padding-top: 5px;
    margin-top: 20px;
    height: 500px;
    width: 35%;
    background-color: #a69b9b;
    border-radius: 5px;
    border: 2px solid black;
}

.teste{
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;   
}

.teste2{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.teste button{
    background-color: #a69b9b;
    color: #f2f2f2;
    padding: 4px 10px;
    margin-left: 250px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius:25px;
} 